#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure \
		--host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc/lynx \
		--datadir=/usr/share/doc/$name-$version \
		--with-zlib            \
            	--with-bzlib           \
            	--with-ssl             \
            	--with-screen=ncursesw \
            	--enable-locale-charset;
fi;

# make
if test -f "makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install-full;
	chgrp -v -R root $GENPKGDESTDIR/usr/share/doc/$name-$version/lynx_doc;
fi;

