#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

mkdir build.meson
cd build.meson

echo " --- Meson <$name ($version)> ---";
meson --prefix=/usr \
	-Dadmin_group=root \
	-Dextra_admin_groups=wheel,adm,sys,daemon,bin \
	-Delogind=true \
	-Dminimum_uid=1000 \
	-Dintrospection=true \
	-Dsystemd=false \
	-Dsystemdsystemunitdir=no \
	..

echo " --- Ninja <$name ($version)> ---";
ninja

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install;
cp -av ../../$name/files/* $GENPKGDESTDIR/
