#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure
if test -f "dist/configure"; then
	echo "--- Configure <$name ($version)> ---";
	cd build_unix;
	../dist/configure --prefix=/usr \
                  --enable-compat185 \
                  --enable-dbm       \
                  --disable-static   \
                  --enable-cxx  
fi

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/share/doc/$name-$version;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make docdir=$GENPKGDESTDIR/usr/share/doc/$name-$version DESTDIR=${GENPKGDESTDIR} install;
	chown -v -R root:root                        \
      $GENPKGDESTDIR/usr/bin/db_*                          \
      $GENPKGDESTDIR/usr/include/db{,_185,_cxx}.h          \
      $GENPKGDESTDIR/usr/lib/libdb*.{so,la}                \
      $GENPKGDESTDIR/usr/share/doc/$name-$version
fi;

