#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	CFLAGS="$CFLAGS -fPIC" CXXFLAGS="$CXXFLAGS -fPIC" \
	make PREFIX=/ \
		PKG_PREFIX=/usr \
		MANDIR=/usr/share/man \
		LIBDIR=/usr/lib \
		LIBEXECDIR=/usr/libexec \
		DATADIR=/usr/share/openrc \
		INCDIR=/usr/include \
		DESTDIR=${GENPKGDESTDIR} \
		MKBASHCOMP=yes \
		MKPKGCONFIG=yes \
		MKSELINUX=no \
		MKTERMCAP=ncurses \
		MKSYSVINIT=yes \
		BRANDING=\"Genuine/$(uname -s)\" \
		install && \
	cp -av ../$name/files/* $GENPKGDESTDIR/;
fi;

