#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<PREFIX> = <rootfs> to install package #
GENPKGPREFIX="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make defconfig
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGPREFIX}/{bin,etc};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make install;
	cp -av busybox $GENPKGPREFIX/bin/
	cp -av examples/devfsd.conf $GENPKGPREFIX/etc/
fi;

