#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

pymajver="3";
pyminver="8";
pyver="${pymajver}.${pyminver}";

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure \
		--host="$GENUINE_HOST" \
		--target="$GENUINE_TGT" \
		--build="$GENUINE_TGT" \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--enable-shared \
		--with-system-expat \
		--with-system-ffi \
		--with-lto \
		--with-ensurepip=yes \
		--enable-optimization;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	mkdir -pv /root/.cache/pip/http &&
	chown -R root:root /root/.cache &&
	make DESTDIR=${GENPKGDESTDIR} install &&
	chmod -v 755 $GENPKGDESTDIR/usr/lib/libpython${pyver}.so &&
	chmod -v 755 $GENPKGDESTDIR/usr/lib/libpython${pymajver}.so &&
	cd $GENPKGDESTDIR/usr/bin &&
	ln -sfv python${pyver} python  &&
	ln -sfv python${pyver}-config python-config &&
	ln -sfv idle${pyver} idle &&
	ln -sfv pydoc${pyver} pydoc &&
	if [ -f "easy_install-$pyver" ] && [ ! -x "easy_install" ]; then
		ln -sfv easy_install-$pyver easy_install
	fi &&
	if [ -f "pip$pyver" ] && [ ! -x "pip" ]; then
		ln -sfv pip${pyver} pip${pymajver}
		ln -sfv pip${pyver} pip
	fi
fi;

