#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	BUILDCC=$GENUINE_TGT-gcc \
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--disable-static \
		--enable-shared \
		--disable-debug \
		--disable-lua \
		--config-cache \
		--disable-update-check \
		--enable-fast-install \
		--with-binary-version=$version \
		--enable-a52 \
		--enable-aa \
		--enable-avahi \
		--enable-dbus \
		--enable-dvdnav \
		--enable-faad \
		--enable-flac \
		--enable-freetype \
		--enable-fribidi \
		--enable-gles2 \
		--enable-gnutls \
		--enable-harfbuzz \
		--enable-jack \
		--enable-libass \
		--enable-libmpeg2 \
		--enable-libxml2 \
		--enable-mad \
		--enable-mpg123 \
		--enable-ncurses \
		--enable-ogg \
		--disable-notify \
		--enable-opus \
		--enable-pulse \
		--disable-oss \
		--enable-samplerate \
		--disable-sdl-image \
		--enable-sftp \
		--enable-speex \
		--disable-svg \
		--disable-svgdec \
		--enable-taglib \
		--enable-theora \
		--enable-vdpau \
		--enable-vorbis \
		--enable-x264 \
		--enable-x265 \
		--enable-optimizations \
		--enable-mmx \
		--enable-sse \
		--enable-neon \
	        --disable-libva \
        	--disable-vcd \
        	--disable-smbclient \
		--enable-alsa \
        	--disable-dc1394 \
        	--disable-dv1394 \
        	--disable-libplacebo \
        	--enable-linsys \
        	--enable-omxil \
        	--enable-udev \
        	--enable-v4l2 \
        	--disable-wayland \
        	--disable-nfs \
		--disable-crystalhd \
        	--disable-d3d11va \
        	--disable-decklink \
        	--disable-directx \
        	--disable-dsm \
        	--disable-dxva2 \
        	--disable-fdkaac \
        	--disable-fluidlite \
        	--disable-freerdp \
        	--disable-goom \
		--enable-qt \
		--disable-live555 \
        	--disable-gst-decode \
        	--disable-libtar \
        	--disable-macosx \
        	--disable-macosx-avfoundation \
        	--disable-macosx-qtkit \
        	--disable-mfx \
        	--disable-opencv \
        	--disable-projectm \
        	--disable-schroedinger \
        	--disable-sparkle \
        	--disable-srt \
        	--disable-telx \
        	--disable-vpx \
        	--disable-vsxu \
        	--disable-wasapi;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
fi;

