#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make MYCFLAGS="-DLUA_COMPAT_5_2 -DLUA_COMPAT_5_1" linux;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make INSTALL_TOP=$GENPKGDESTDIR/usr                \
	     INSTALL_DATA="cp -d"            \
	     INSTALL_MAN=$GENPKGDESTDIR/usr/share/man/man1 \
	    TO_LIB="liblua.so liblua.so.5.3 liblua.so.5.3.4" \
	    install;
	mkdir -pv                      $GENPKGDESTDIR/usr/share/doc/$name-$version
	cp -v doc/*.{html,css,gif,png} $GENPKGDESTDIR/usr/share/doc/$name-$version

	install -v -m644 -D ../$name/files/lua.pc $GENPKGDESTDIR/usr/lib/pkgconfig/lua.pc
fi;

