#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# setup
if test -f "setup"; then
	echo " --- Setup <$name ($version)> ---";
	./setup;
fi

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make INST_DIR=$GENPKGDESTDIR;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make INST_DIR=${GENPKGDESTDIR} install;
fi;

