#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

rm -rf build.meson
mkdir build.meson
cd build.meson
meson --prefix=/usr ../;
ninja

mkdir -pv ${GENPKGDESTDIR};

DESTDIR=${GENPKGDESTDIR} ninja install;

