#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

GALLIUM_DRV="i915,nouveau,r600,radeonsi,svga,swrast,virgl"
DRI_DRIVERS="i965,nouveau"

# Change to source directory #
cd ../$original_name-$version;

mkdir build &&
cd    build &&

echo " --- Meson <$name ($version)> ---";
meson --prefix=/usr \
      -Dbuildtype=release \
      -Dplatforms=auto \
      -Ddri3=true \
      -Ddri-drivers=$DRI_DRIVERS \
      -Dgallium-drivers=$GALLIUM_DRV \
      -Dgallium-extra-hud=true \
      -Dgallium-vdpau=true \
      -Dgallium-xvmc=false \
      -Dgallium-omx=disabled \
      -Dgallium-va=true \
      -Dgallium-nine=true \
      -Dshared-glapi=true \
      -Dgles1=true \
      -Dgles2=true \
      -Dopengl=true \
      -Dglx=dri \
      -Degl=true \
      -Dglvnd=true \
      -Dvalgrind=false \
      -Dglx-direct=true \
      -Dosmesa=gallium \
      ..;

unset GALLIUM_DRV DRI_DRIVERS;

echo " --- Ninja <$name ($version)> ---";
ninja;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install &&
install -v -dm755 $GENPKGDESTDIR/usr/share/doc/$name-$version &&
cp -rfv ../docs/* $GENPKGDESTDIR/usr/share/doc/$name-$version

