#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "js/src/configure"; then
	echo " --- Configure <$name ($version)> ---";
	mkdir mozjs-build &&
	cd    mozjs-build &&
	export SHELL="/bin/bash" &&
	CFLAGS="$CFLAGS -O2 -pipe -fPIC" \
	CXXFLAGS="$CXXFLAGS -O2 -pipe -fPIC" \
	AUTOCONF="/usr/bin/autoconf2.13" \
	PYTHON="/usr/bin/python2" \
	PYTHON3="/usr/bin/python3.7" \
	CONFIG_SHELL="/bin/bash" \
	../js/src/configure \
			--host=$GENUINE_HOST \
			--target=$GENUINE_TGT \
			--prefix=/usr       \
                    --with-intl-api     \
                    --with-system-zlib  \
                    --with-system-nspr  \
		    --with-system-nss  \
		    --with-system-libevent \
		    --with-system-bz2 \
                    --with-system-icu   \
                    --disable-jemalloc  \
                    --enable-readline
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
fi;

