#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# Makefile.PL #
if test -f "Makefile.PL"; then
	echo " --- Configure <$name ($version)> ---";
	/usr/bin/perl Makefile.PL;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

PERL_VERSION=$(perl -v | head -2 | tail -1 | awk '{print $4$6$8}' | sed 's/\,/\./g')
PERL_HOSTDIR="/usr/lib/perl5/$PERL_VERSION/x86_64-linux-thread-multi";

# Create install directory
mkdir -pv ${GENPKGDESTDIR}$PERL_HOSTDIR;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	touch $PKGGENDESTDIR/$PERL_HOSTDIR/perllocal.pod;
	make DESTDIR=${GENPKGDESTDIR} install;
fi;

