#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/bin;

source /etc/profile

cargo build --release

install -Dm755 target/release/cbindgen $GENPKGDESTDIR/usr/bin/

