#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# CMake configure #
if test -f "CMakeLists.txt"; then
	echo " --- CMake Configure <$name ($version)> ---";
	mkdir build.cmake;
	cd build.cmake;
	cmake -DCMAKE_INSTALL_PREFIX=/usr \
		-DENABLE_PRECOMPILED_HEADERS=OFF \
		-DCOMPIZ_BUILD_WITH_RPATH=FALSE \
		-DCMAKE_BUILD_TYPE=Release \
	       	-DCOMPIZ_PACKAGING_ENABLED=TRUE \
		-DCOMPIZ_DISABLE_GS_SCHEMAS_INSTALL=OFF \
		-DBUILD_GLES=ON \
		-DBUILD_XORG_GTEST=OFF \
	../;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
fi;

