#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--disable-static \
		--enable-shared;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
	sed -e 's,[@]PM-UTILS-LIBDIR[@],/usr/lib/pm-utils,g' \
		-e 's,[@]PM-UTILS-SYSCONFDIR[@],/etc/pm,g' \
		pm-is-supported.in >pm-is-supported
	sed -e 's,[@]PM-UTILS-LIBDIR[@],/usr/lib/pm-utils,g' \
		-e 's,[@]PM-UTILS-SYSCONFDIR[@],/etc/pm,g' \
		pm-action.in >pm-action
	sed -e 's,[@]PM-UTILS-LIBDIR[@],/usr/lib/pm-utils,g' \
		-e 's,[@]PM-UTILS-SYSCONFDIR[@],/etc/pm,g' \
		pm-powersave.in >pm-powersave
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
	install -d -m755 $GENPKGDESTDIR/usr/bin
	cp -av src/pm-is-supported $GENPKGDESTDIR/usr/bin/pm-is-supported
	cp -av src/pm-action $GENPKGDESTDIR/usr/bin/pm-action
	cp -av src/pm-powersave $GENPKGDESTDIR/usr/bin/pm-powersave
	chmod +x $GENPKGDESTDIR/usr/bin/*
	install -d -m755 $GENPKGDESTDIR/usr/share/man/man1
	install -d -m755 $GENPKGDESTDIR/usr/share/man/man8
	install -v -m644 man/*.1 $GENPKGDESTDIR/usr/share/man/man1
	install -v -m644 man/*.8 $GENPKGDESTDIR/usr/share/man/man8
fi;

