#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

mkdir build &&
cd build

# meson
echo " --- Make <$name ($version)> ---";
meson --prefix=/usr ..;

# ninja
ninja

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# ninja install
echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install;

