#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<PREFIX> = <rootfs> to install package #
GENPKGPREFIX="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make -j1 BUILD_OPT=1                  \
  NSPR_INCLUDE_DIR=/usr/include/nspr  \
  USE_SYSTEM_ZLIB=1                   \
  ZLIB_LIBS=-lz                       \
  NSS_ENABLE_WERROR=0                 \
  $([ $(uname -m) = x86_64 ] && echo USE_64=1) \
  $([ -f /usr/include/sqlite3.h ] && echo NSS_USE_SYSTEM_SQLITE=1);
fi;

# Create install directory
mkdir -pv ${GENPKGPREFIX}/usr/{lib/pkgconfig,include/nss,bin};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	cd ../dist
	install -v -m755 Linux*/lib/*.so              $GENPKGPREFIX/usr/lib              &&
	install -v -m644 Linux*/lib/{*.chk,libcrmf.a} $GENPKGPREFIX/usr/lib              &&
	install -v -m755 -d                           $GENPKGPREFIX/usr/include/nss      &&
	cp -v -RL {public,private}/nss/*              $GENPKGPREFIX/usr/include/nss      &&
	chmod -v 644                                  $GENPKGPREFIX/usr/include/nss/*    &&
	cp -va Linux*/bin/* $GENPKGPREFIX/usr/bin/
	cd ../$name-$version
	cp -va config/nss.pc  $GENPKGPREFIX/usr/lib/pkgconfig/
	rm -fv $GENPKGPREFIX/usr/bin/nss-config
	cp -va config/nss-config  $GENPKGPREFIX/usr/bin/
fi;

