#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

groupadd -g 42 fcron &&
useradd -d /dev/null -c "Fcron User" -g fcron -s /bin/false -u 42 fcron

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--disable-static \
		--enable-shared \
		--with-boot-install=no \
            --with-systemdsystemunitdir=no;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install &&
	rm -v $GENPKGDESTDIR/etc/pam.conf &&
	cp -av ../$name/files/* $GENPKGDESTDIR/;
	chmod -v +x $GENPKGDESTDIR/etc/init.d/$name
	chmod -v 755 $GENPKGDESTDIR/usr/bin/run-parts
fi;

groupdel fcron
userdel fcron
