#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	$MAKE PREFIX=/usr \
     	BUILD_STATIC_LIB=0 \
	PROG_EXTRA=sensord \
     	MANDIR=/usr/share/man;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	$MAKE PREFIX=/usr \
     	BUILD_STATIC_LIB=0 \
     	MANDIR=/usr/share/man \
	PROG_EXTRA=sensord \
     	DESTDIR=${GENPKGDESTDIR} install;
	install -v -m755 -d $GENPKGDESTDIR/usr/share/doc/$name-$version &&
	cp -rvf README INSTALL doc/* \
                    $GENPKGDESTDIR/usr/share/doc/$name-$version
fi;

