#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

mkdir build.meson
cd build.meson

echo " --- Meson <$name ($version)> ---";
meson --prefix=/usr \
	..

echo " --- Ninja <$name ($version)> ---";
ninja

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/{lib,bin,sbin};

echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install;
cp -av ../../$name/files/* $GENPKGDESTDIR/
mv -fv $GENPKGDESTDIR/usr/lib/libfuse3.so.3* $GENPKGDESTDIR/lib/
ln -sfvn ../../lib/libfuse3.so.$version $GENPKGDESTDIR/usr/lib/libfuse3.so
mv -fv $GENPKGDESTDIR/usr/bin/fusermount3 $GENPKGDESTDIR/bin/
mv -fv $GENPKGDESTDIR/usr/sbin/mount.fuse3 $GENPKGDESTDIR/sbin/
chmod u+s $GENPKGDESTDIR/bin/fusermount3


