#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	(cp udev_helper/net.sh.orig udev_helper/net.sh &&
	chmod +x udev_helper/net.sh &&
	cp udev_rules/90-network.rules.orig udev_rules/90-network.rules)
	make PREFIX=/usr \
		SBINDIR=/sbin \
		SYSCONFDIR=/etc \
		all;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make PREFIX=/usr \
		SYSCONFDIR=/etc \
		SBINDIR=/sbin \
		DESTDIR=${GENPKGDESTDIR} install;
fi;

