#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

sed -i s/3000/5000/ libxslt/transform.c doc/xsltproc.{1,xml}

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	PYTHON=/usr/bin/python2 \
	./configure \
		--host="$GENUINE_HOST" \
		--target="$GENUINE_TGT" \
		--build="$GENUINE_TGT" \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--disable-static \
		--enable-shared \
		--with-python \
		--with-plugins;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
fi;

