#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# setup.py #
if test -f "setup.py"; then
	echo " --- Configure <$name ($version)> ---";
	/usr/bin/python3 setup.py build;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/share;

# setup.py #
if test -f "setup.py"; then
	echo " --- Install <$name ($version)> ---";
	/usr/bin/python3 setup.py install --optimize=1 --root=dest;
	cp -av dest/*  ${GENPKGDESTDIR} &&
	cd $GENPKGDESTDIR/usr/share &&
	ln -sf /usr/lib/python3.7/site-packages/powerline powerline
	#cp -av ../$name/files/* ${GENPKGDESTDIR}/
fi;

