#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--disable-static \
		--enable-shared;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make -j1;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make prefix=${GENPKGDESTDIR}/usr install;
	chmod -v 755 $GENPKGDESTDIR/usr/lib/libcdda_*.so.0.$version
fi;

