#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--bindir=/bin \
		--libdir=/lib \
		--disable-zstd \
		--disable-static \
		--enable-shared \
		--disable-documentation;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/sbin;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
	rm -rf $GENPKGDESTDIR/lib/libbtrfs.a $GENPKGDESTDIR/lib/libbtrfsutil.a
	mv -v $GENPKGDESTDIR/bin/{mkfs,fsck}.btrfs $GENPKGDESTDIR/sbin
fi;

