#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure -p /usr
fi;

# make
if test -f "Makefile" || test -f "makefile"; then
	echo " --- Make <$name ($version)> ---";
	make  ;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile" || test -f "makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make   DESTDIR=${GENPKGDESTDIR} install;
fi;

