#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# CMake configure #
if test -f "CMakeLists.txt"; then
	echo " --- CMake Configure <$name ($version)> ---";
	mkdir build.cmake;
	cd build.cmake;
	cmake -DCMAKE_INSTALL_PREFIX=/usr \
		-DCPACK_INSTALL_PREFIX=/usr \
		-DCMAKE_BUILD_TYPE=Release \
      		-DBUILD_STATIC_LIBS=OFF \
		../;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make prefix=/usr;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make prefix=/usr DESTDIR=${GENPKGDESTDIR} install;
	cd ../doc &&
	for man in man/man?/* ; do
		install -v -D -m 644 $man $GENPKGDESTDIR/usr/share/$man
	done
fi;

