#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/share/themes;

cp -av * ${GENPKGDESTDIR}/usr/share/themes/
cd $GENPKGDESTDIR/usr/share/themes && \
	rm -fv LICENSE README.md

