#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/lib/lua/5.3;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	cp -av bit.so ${GENPKGDESTDIR}/usr/lib/lua/5.3/;
fi;

