#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

mkdir build.meson
cd build.meson

echo " --- Meson <$name ($version)> ---";
meson --prefix=/usr \
	--sysconfdir=/etc \
	--libexecdir=/usr/lib/at-spi2-core \
	-Dsystemd_user_dir=no \
	-Dintrospection=yes \
	..

echo " --- Ninja <$name ($version)> ---";
ninja

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install;
if [ -d "$GENPKGDESTDIR/usr/no" ]; then
	rm -rfv $GENPKGDESTDIR/usr/no
fi

