#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile" || test -f "makefile"; then
	echo " --- Make <$name ($version)> ---";
	make  ;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/etc/{conf.d,init.d};

# make install
if test -f "Makefile" || test -f "makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install &&
	cd openrc &&
	for f in opentmpfiles-dev opentmpfiles-setup; do
		cp -av $f.confd $GENPKGDESTDIR/etc/conf.d/$f
		cp -av $f.initd $GENPKGDESTDIR/etc/init.d/$f
		chmod +x $GENPKGDESTDIR/etc/init.d/$f
	done;
fi
