#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
echo " --- Make <$name ($version)> ---";
python3 setup.py build

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
echo " --- Make Install <$name ($version)> ---";
python3 setup.py install --optimize=1 --root=dest
cp -av dest/* ${GENPKGDESTDIR}/;

