#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

mkdir build.meson
cd build.meson

echo " --- Meson <$name ($version)> ---";
#export PYTHON=python3
meson --prefix=/usr \
	--optimization=1 \
	..

echo " --- Ninja <$name ($version)> ---";
ninja

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

echo " --- Make Install <$name ($version)> ---";
DESTDIR=${GENPKGDESTDIR} ninja install;

