#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
pushd ../$original_name-$version;

gui="gnome3";

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure --host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--disable-static \
		--enable-shared \
		--enable-libsecret;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
	rm -rfv $GENPKGDESTDIR/usr/bin/$name &&
	cd $GENPKGDESTDIR/usr/bin &&
	ln -sfv $name-$gui $name
fi;

