#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr;

scons PREFIX=/usr
scons PREFIX=$GENPKGDESTDIR/usr install
