#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make PREFIX=/usr                \
     SHAREDIR=/usr/share/hwdata \
     SHARED=yes;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} PREFIX=/usr                \
     SHAREDIR=/usr/share/hwdata \
     SHARED=yes install install-lib;
	chmod -v 755 $GENPKGDESTDIR/usr/lib/libpci.so;
fi;

