#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

# configure #
if test -f "configure"; then
	echo " --- Configure <$name ($version)> ---";
	./configure \
		--host=$GENUINE_HOST \
		--target=$GENUINE_TGT \
		--build=$GENUINE_TGT \
		--prefix=/usr \
		--sysconfdir=/etc/ssh \
		--localstatedir=/var \
		--docdir=/usr/share/doc/$name-$version \
		--with-privsep-path=/var/lib/sshd \
		--with-md5-passwords \
		--with-pam;
fi;

# make
if test -f "Makefile"; then
	echo " --- Make <$name ($version)> ---";
	make;
fi;

# Create install directory
mkdir -pv ${GENPKGDESTDIR}/usr/bin;

# make install
if test -f "Makefile"; then
	echo " --- Make Install <$name ($version)> ---";
	make DESTDIR=${GENPKGDESTDIR} install;
	cp -a ../$name/files/* $GENPKGDESTDIR/ && \
	install -v -m755    contrib/ssh-copy-id $GENPKGDESTDIR/usr/bin     &&
	install -v -m755 -d $GENPKGDESTDIR/usr/share/man/man1     &&
	install -v -m644    contrib/ssh-copy-id.1 \
                    $GENPKGDESTDIR/usr/share/man/man1              &&
	install -v -m755 -d $GENPKGDESTDIR/usr/share/doc/$name-$version     &&
	install -v -m644    INSTALL LICENCE OVERVIEW README*  \
                    $GENPKGDESTDIR/usr/share/doc/$name-$version
fi;

