#!/bin/bash

# Load Info file #
source ./Info;

# Fake GEN<DESTDIR> = <rootfs> to install package #
GENPKGDESTDIR="$(pwd)/rootfs";

# Change to source directory #
cd ../$original_name-$version;

python2 setup.py build

# Create install directory
mkdir -pv ${GENPKGDESTDIR};

# make install
python2 setup.py install --root=dest
cp -av dest/* $GENPKGDESTDIR/
rm -fv $GENPKGDESTDIR/usr/bin/pip
